/* Font-face */
@font-face
{
    font-family: 'NoaLight';
    font-weight: normal;
    font-style: normal;

    src: url('https://www.klm.com/ams/frontend/2.42.24/font/NoaLTW02-Light.EOT');
    src: url('https://www.klm.com/ams/frontend/2.42.24/font/NoaLTW02-Light.EOT?#iefix') format('embedded-opentype'),url('https://www.klm.com/ams/frontend/2.42.24/font/NoaLTW02-Light.woff') format('woff'),url('https://www.klm.com/ams/frontend/2.42.24/font/NoaLTW02-Light.ttf') format('truetype');
}

html
{
    width: 100%;
    height: 100%;
}
body
{
    font-family: 'Lucida Grande','Lucida Sans Unicode','Helvetica Neue','Helvetica',verdana,arial,sans-serif;

    color: #013145;
    background-color: #013145; /* I omit last semicolumn to spare bytes */
}

h1
{
    font-family: 'NoaLight';
    font-size: 22px;

    color: #00a1de;
}

.klm_destinationsCarousel
{
    line-height: 25px;

    display: block;

    height: 256px;
    margin: 30px auto;

    background-color: #fff;
}

.klm_destinationsCarousel_photoContainer
{
    display: inline-block;
    float: left;
    width: 480px;
    height: 100%;
    background: #ccc;
    overflow:hidden;
}

#klm_prevArrow_white{
    position:absolute;
    z-index:2;
    top:40%;
    left:10px;
    width:58px;
    height:58px;
    background: url(../img/arrows.png) no-repeat 0 -58px;
}

#klm_nextArrow_white{ 
    position:absolute;
    z-index:2;
    top:40%;
    right:10px;
    width:58px;
    height:58px;
    background: url(../img/arrows.png) no-repeat -72px;
}
.klm_destinationsCarousel_photos{
    position:relative;
    width: 100%;
    height: 256px;
}

.klm_destinationsCarousel_photos ul
{
    position: absolute;
    left:0;
    width:1920px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.klm_destinationsCarousel_photos li {
    float:left;
    display:inline-block;
}

.klm_destinationsCarousel_pagination{
    margin:0 auto;
    padding-left:25%;

}

.klm_destinationsCarousel_page{
    float: left;
    width:5px;
    height:5px;
    background-color:#fff;
    color:#00a1de;
    margin:0 2px;
    border:#143949 solid 1px;
    border-radius:90px;
}

.klm_destinationsCarousel_page.active{
    background-color:#00a1de;

}

.klm_destinationsCarousel_description
{
    display: inline-block;
    float: left;
    width: 43%;
    padding: 1% 3%;
    height: 100%;
}

.klm_destinationsCarousel_indicator
{
    display: block;
    width: 50%;
    margin:0 auto;
    color: #fff;
}

.klm_destinationsCarousel_mobileindicator
{
    display: none;
}

.klm_destinationsCarousel_description a
{
    text-decoration: none;

    color: #00a1de;
}

.klm_destinationsCarousel_description a:after
{
    content: ' >\A';
    white-space: pre;
}

/* media queries */


/* desktop */
@media (min-width: 1024px)
{
    .klm_destinationsCarousel
    {
        width: 960px;
    }
}

/* tablet */
@media (max-width: 1024px) and (min-width: 767px)
{
    .klm_destinationsCarousel
    {
        width: 720px;
    }
    .klm_destinationsCarousel_photoContainer{
        width: 360px;
    }
}

/* mobile */

@media (max-width: 767px) and (min-width: 0)
{
    body{
        background:#fff;
    }

    .klm_destinationsCarousel_pagination{
        display:block;
    }

    .klm_destinationsCarousel
    {
        width: 320px;
        margin:0;
    }

    .klm_destinationsCarousel_photoContainer
    {
        width:320px;
        display: block;
        clear: both;
        margin-left: 15px;

    }

    .klm_destinationsCarousel_description
    {
        width: 100%;
        margin-left:20px;
    }

    #klm_destinationsCarousel_mobileindicator
    {
        display: inline-block;
        padding:10px 0 0 15%;
        color: #fff;
    }

     #klm_destinationsCarousel_mobileindicator .klm_destinationsCarousel_page
    {
        width:4px;
        height:4px;
        margin:1px;

    }

}